.tableStyle .ant-descriptions-item-label,
.tableStyle .ant-descriptions-item-content {
    padding: 13px !important;
}
.ant-descriptions-item-content {
    font-weight: bold !important;
}

.tableStyle .ant-descriptions-item {
    padding: 13px !important;
}