
.div-icon{
        position: relative;
        background-image: url('../../assets/img/Vector 5.png');
        background-size: 100% 100%;
        background-position: right;
        background-repeat: no-repeat;
        height: 150px;
        padding-right: 10px;
}

.h1-circle{
    color: #013E9B; 
    margin-top: 65px; 
    margin-left: 15px;
}
.p-d{
    color: #ffffff; 
    margin: 0; 
    margin-top: 35px; 
}

.p-price{
    color: #ffffff; 
    text-align: end; 
    font-size: 30px; 
    margin: 0
}

.p-week{
    color: #ffffff; 
    text-align: end; 
    margin: 0;
}

.row-credit{
    background: #ffffff; 
    border-radius: 10px;
    padding: 20px;
}

.col-container {
    text-align: left;
}
  
.col-container:not(:last-child) {
    border-right: 1px solid #e0e0e0;
}
  
.div-step{
    font-size: 24px;
    color: #ffffff;
    background: #4B566B;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    
}

.p-text{
    font-weight: bold; 
    color: #4B566B; 
    text-align: start; 
    font-size: 18px;
}

.row-button{
    margin-right: 30px;
}

.div-button{
    text-align: right;
}
.button-credit{
    padding: 30px; 
    margin-bottom: 20px; 
    background: #ffcc00; 
    color: #002f87; 
    font-weight: bold;
}

.arrow{
    font-size: 24px !important;
    color: #ffffff !important;
    background: #004AC1 !important;
    border-radius: 50% !important;
    width: 40px !important;
    height: 40px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin-left: 10px !important;
}